body {background-image:url('http://csce.uark.edu/~raw013/PICS/BG.png');}

#container{
    display:inline-block;
    width:320px; 
    height:480px;
    background: none; 
    margin: 0 auto; 
    position:relative;
}     
.img{position:absolute;
z-index:1;
left: 3.5px;
}
#screen{
    border: 1px solid green;
    position:relative;
    top: 56px;
    z-index: 20;
    margin:3px; 
    padding:2px; 
    image-rendering:-webkit-optimizeSpeed;
}
.center {
 text-align: center;
 float: center;
 margin: 0px auto;
}
#DEBUGGER {
float: left;
position:absolute;
margin-top: -450px;

}
#OPCODES {
float: right;
right: 20px;
position:absolute;
margin-top: -450px;

} 
#OPCODESin {

 text-align: center;
}
table { 
font-family:'Bitstream Vera Sans Mono','Lucida Console','droid_monospace',monospace; 
font-size:9pt; 
margin:0px; 
}
thead { 
text-align:center; 
}
th { 
font-family:sans-serif; 
padding:2px 0px 4px 0px; 
font-size:10pt;
}
th, td { 
border:1px solid #000; 
}
hr { 
border:none;
border-bottom:1px solid #000;
margin:1px 0px;
}
